In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"Entertainment.csv")
data

                                                comments
0      MY ALL TIME FAVOURITE MOVIES OF SS RAJAMOULI S...
1                          magadheera is number one rank
2               Any movies but top 1 is simhadriğŸ”¥ğŸ”¥ğŸ”¥ğŸ”¥ğŸ”¥ğŸ”¥ğŸ”¥ğŸ”¥
3                                                    RRR
4         BEST MOVIE FOR EVER FOR ME IS BAHUBALI 1 AND 2
...                                                  ...
21985                        Happiest birthday anna ğŸ¥°ğŸ¥°ğŸ¥°ğŸ¥°
21986              Wish you happy birthday mukesh garuğŸ’ğŸ’
21987                                        Happy b'day
21988  à°…à°¬à±à°¬à°¾ à°à°®à°¿ à°µà°¾à°•à± ğŸ˜²ğŸ‘ğŸ‘ŒğŸ‘ŒğŸ¤· à°ªà±à°Ÿà±à°Ÿà°¿à°¨à°°à±‹à°œà± à°¶à±à°­à°¾à°•à°¾à°‚à°•à±à°·à°²à± ...
21989  à°œà°¨à±à°®à°¦à°¿à°¨ à°¶à±à°­à°¾à°•à°¾à°‚à°•à±à°·à°²à± à°®à±ˆ à°°à°¿à°¯à°²à± à°¹à±€à°°à±‹ à°°à°¿à°·à°¿ sir ,â™¥...

[21990 rows x 1 columns]

In [3]:
# lowering the text
data['lower']= data['comments'].apply(lambda x: x.lower())

In [4]:
import re

In [5]:
# remove url
data['remove_url']=data['lower'].apply(lambda x:re.sub(r'http\S+', '', x))

In [6]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
def removeusernames(text):
    li=text.split()
    new_str=" ".join(x for x in li if not x.startswith("@"))
    return new_str
data["clean_usernames"]=data["remove_url"].apply(lambda x: removeusernames(x))

In [8]:
#defining the function to remove punctuation
def remove_punctuation(text):
#     punctuationfree="".join([i for i in text if i not in string.punctuation])
    special='''!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}â€œâ€˜~1234567890'''
    punctuationfree=''
    for i in text:
        if i not in special:
            punctuationfree+=i
        else:
            punctuationfree+=" "
    return punctuationfree
#storing the puntuation free text
data['clean_punc']= data['clean_usernames'].apply(lambda x:remove_punctuation(x))

In [9]:
pip install clean-text

Requirement already satisfied: clean-text in c:\users\n1704\appdata\local\programs\python\python38\lib\site-packages (0.6.0)
Requirement already satisfied: emoji<2.0.0,>=1.0.0 in c:\users\n1704\appdata\local\programs\python\python38\lib\site-packages (from clean-text) (1.7.0)
Requirement already satisfied: ftfy<7.0,>=6.0 in c:\users\n1704\appdata\local\programs\python\python38\lib\site-packages (from clean-text) (6.1.1)
Requirement already satisfied: wcwidth>=0.2.5 in c:\users\n1704\appdata\roaming\python\python38\site-packages (from ftfy<7.0,>=6.0->clean-text) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\users\n1704\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [10]:
from cleantext import clean
data['remove_emoji']=data['clean_punc'].apply(lambda x: clean(x,no_emoji=True))

Since the GPL-licensed package `unidecode` is not installed, using Python's `unicodedata` package which yields worse results.

In [11]:
# remove number rows
def detect_num(text):
    if text.isnumeric()==False:
        return text
    else:
        return None
data["remove_num"]=data["remove_emoji"].apply(lambda x: detect_num(x))
data.drop(data[data["remove_num"].isnull()==True].index,inplace=True)

In [12]:
# remove rows with length less than 3
def detect_rows(text):
    if len(text)<=3:
        return None
    else:
        return text
data["remove_rows"]=data["remove_num"].apply(lambda x: detect_rows(x))
data.drop(data[data["remove_rows"].isnull()==True].index,inplace=True)

In [13]:
data.drop(data[data["remove_rows"].isnull()==True].index,inplace=True)

In [14]:
# removing numbers from each sentence of the text
def removenum(text):
    li=text.split()
    new_string = ' '.join((x for x in li if not x.isdigit()))
    return new_string
data["remove_numbers"]=data["remove_rows"].apply(lambda x: removenum(x))

In [15]:
import re
def remove_all_num(text):
    for word in text:
        if word.isdigit():
            text.replace(word,"")
    return text
data["remove_numbers"]=data["remove_numbers"].apply(lambda x: remove_all_num(x))

In [16]:
# # removing words of lesser length
# def removewords(text):
#     li=text.split()
#     new_string=" ".join((x for x in li if not len(x)<=3))
#     return new_string
# data["remove_words"]=data["remove_numbers"].apply(lambda x: removewords(x))
# data

In [17]:
# # deleting single word rows
# def delrows(text):
#     li=text.split()
#     if len(li)<=2:
#         return None
#     else:
#         return text
# data["del_rows"]=data2["remove_numbers"].apply(lambda x: delrows(x))
# data2.drop(data2[data2["del_rows"].isnull()==True].index,inplace=True)
# data2

In [18]:
data.sort_values("remove_numbers",ascending=True,inplace=True)

In [19]:
data.drop_duplicates(subset=["remove_numbers"],inplace=True)

In [20]:

# data['remove_numbers'] = data["remove_numbers"].str.replace('\d+', '')
# data

In [21]:
def lesslength(text):
    li=text.split()
    if len(li)<=5:
        return None
    return text
data["remove_numbers"]=data["remove_numbers"].apply(lambda x:lesslength(x))
data.dropna(subset=["remove_numbers"],inplace=True)

In [22]:
# def removewords2(text):
#     li=text.split()
#     new_string=" ".join((x for x in li if not len(x)<=3))
#     return new_string
# data3["del_rows"]=data3["del_rows"].apply(lambda x: removewords2(x))
# data3

In [23]:
# def delrows2(text):
#     li=text.split()
#     if len(li)<=3:
#         return None
#     else:
#         return text
# data3["del_rows"]=data3["del_rows"].apply(lambda x: delrows2(x))
# data3.dropna(subset=["del_rows"],inplace=True)
# data3

In [24]:
data['remove_numbers'].to_csv(r"Entertainment_cleaned.csv")
data

,comments,lower,remove_url,clean_usernames,clean_punc,remove_emoji,remove_num,remove_rows,remove_numbers
6415,A adi to mach ra sami ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ¥°ğŸ˜ğŸ˜ŒğŸ¤£,a adi to mach ra sami ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ¥°ğŸ˜ğŸ˜ŒğŸ¤£,a adi to mach ra sami ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ¥°ğŸ˜ğŸ˜ŒğŸ¤£,a adi to mach ra sami ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ¥°ğŸ˜ğŸ˜ŒğŸ¤£,a adi to mach ra sami ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ˜‡ğŸ¥°ğŸ˜ğŸ˜ŒğŸ¤£,a adi to mach ra sami,a adi to mach ra sami,a adi to mach ra sami,a adi to mach ra sami
11155,a clg ooh kuda cheppandi raa saamy vallu,a clg ooh kuda cheppandi raa saamy vallu,a clg ooh kuda cheppandi raa saamy vallu,a clg ooh kuda cheppandi raa saamy vallu,a clg ooh kuda cheppandi raa saamy vallu,a clg ooh kuda cheppandi raa saamy vallu,a clg ooh kuda cheppandi raa saamy vallu,a clg ooh kuda cheppandi raa saamy vallu,a clg ooh kuda cheppandi raa saamy vallu
7545,A college lo aga ma College endhu ledhu abbabğŸ˜‚...,a college lo aga ma college endhu ledhu abbabğŸ˜‚...,a college lo aga ma college endhu ledhu abbabğŸ˜‚...,a college lo aga ma college endhu ledhu abbabğŸ˜‚...,a college lo aga ma college endhu ledhu abbabğŸ˜‚...,a college lo aga ma college endhu ledhu abbab,a college lo aga ma college endhu ledhu abbab,a college lo aga ma college endhu ledhu abbab,a college lo aga ma college endhu ledhu abbab
1595,A director Shankar laga teyakeru i mean conten...,a director shankar laga teyakeru i mean conten...,a director shankar laga teyakeru i mean conten...,a director shankar laga teyakeru i mean conten...,a director shankar laga teyakeru i mean conten...,a director shankar laga teyakeru i mean conten...,a director shankar laga teyakeru i mean conten...,a director shankar laga teyakeru i mean conten...,a director shankar laga teyakeru i mean conten...
8341,A gd msg is there from this movie.pls upload f...,a gd msg is there from this movie.pls upload f...,a gd msg is there from this movie.pls upload f...,a gd msg is there from this movie.pls upload f...,a gd msg is there from this movie pls upload f...,a gd msg is there from this movie pls upload f...,a gd msg is there from this movie pls upload f...,a gd msg is there from this movie pls upload f...,a gd msg is there from this movie pls upload f...
...,...,...,...,...,...,...,...,...,...
2959,Youtube recommended this movie video now,youtube recommended this movie video now,youtube recommended this movie video now,youtube recommended this movie video now,youtube recommended this movie video now,youtube recommended this movie video now,youtube recommended this movie video now,youtube recommended this movie video now,youtube recommended this movie video now
20366,Youtube videos ni nammakandi Avi just views ko...,youtube videos ni nammakandi avi just views ko...,youtube videos ni nammakandi avi just views ko...,youtube videos ni nammakandi avi just views ko...,youtube videos ni nammakandi avi just views ko...,youtube videos ni nammakandi avi just views ko...,youtube videos ni nammakandi avi just views ko...,youtube videos ni nammakandi avi just views ko...,youtube videos ni nammakandi avi just views ko...
19442,10 yrs run cheyataniki Meru am aina serial ni ...,10 yrs run cheyataniki meru am aina serial ni ...,10 yrs run cheyataniki meru am aina serial ni ...,10 yrs run cheyataniki meru am aina serial ni ...,yrs run cheyataniki meru am aina serial ni ...,yrs run cheyataniki meru am aina serial ni pro...,yrs run cheyataniki meru am aina serial ni pro...,yrs run cheyataniki meru am aina serial ni pro...,yrs run cheyataniki meru am aina serial ni pro...
2973,Yt recommended me after watching your Vikram b...,yt recommended me after watching your vikram b...,yt recommended me after watching your vikram b...,yt recommended me after watching your vikram b...,yt recommended me after watching your vikram b...,yt recommended me after watching your vikram b...,yt recommended me after watching your vikram b...,yt recommended me after watching your vikram b...,yt recommended me after watching your vikram b...
4082,Zee 5 lo 47 Days The Mystery Unfolds Movie Gu...,zee 5 lo 47 days the mystery unfolds movie gu...,zee 5 lo 47 days the mystery unfolds movie gu...,zee 5 lo 47 days the mystery unfolds movie gur...,zee lo days the mystery unfolds movie gur...,zee lo days the mystery unfolds movie gurinchi...,zee lo days the mystery unfolds movie gurinchi...,zee lo days the mystery unfolds movie gurinchi...,zee lo days the mystery unfolds movie gurinchi...